.page-header {
    height: 80px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    /*border-bottom: 1px solid var(--white);*/
}
.nav-list {
    display: flex;
    justify-content: center;
    /*align-items: flex-end;*/
    text-align: center;
    height: 100%;
}
.nav-list li {
    margin-left: .5rem;
    margin-right: .5rem;
}
.nav-list li a {
    line-height: 80px;
    height: 100%;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.nav-list li a:hover {
    border-bottom: 1px solid var(--white);
    transition: .3s ease;
}
.logo {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
}
.logo:hover {
    border-bottom: none;
}
.nav-btn {
    background-color: var(--pink);
    border-radius: 3px;
    padding: .5rem .75rem !important;
}
.nav-btn:hover {
    border-bottom: none !important;
    background-color: var(--purple-highlight);
}
/* left-nav */
.left-nav {}

/* right-nav */
.right-nav {}