.page-layout {
    display: flex;
    flex-direction: column;
    /*background-color: var(--purple-base); /* for header/masthead/footer bg */
    /*background-color: #3700B3;*/
    background-color: #6200EE;
}
/*.page-header {}
.page-masthead {}
.page-main-rankings {}
.page-contact {}
.page-footer {}*/

.content-section {
    background-color: var(--offwhite);
    color: var(--black);
    min-height: 200px;
    text-align: center;
    padding-top: 5rem;;
    padding-bottom: 5rem;
}