/* variables */
:root {
    /* base colors */
    --white: #FFFFFF;
    --black: #000000;
    --offwhite: whitesmoke;
    --gray: lightgray;
    /* primary & secondary colors */
    --purple-base: #5100E8;
    --purple-highlight: #C500E8;
    --pink: #E80097;
    --orange: #E85100;
    --blue: #0023E8;
    --ltgreen: #97E800;
    }
/* reset styles */
html {
   box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}
body {
   font-family: sans-serif;
   line-height: 1.5;
   background: lightgray;
}
main {
   display: block;
}
